<div class="box tabular">
  <p>
    <%= form.label :test_plan %>
    <%= (@test_plan || @test_case_execution.test_plan).name %>
  </p>
  <p>
    <%= form.label :test_case %>
    <%= (@test_case || @test_case_execution.test_case).name %>
  </p>
  <p>
    <%= form.label :environment %>
    <%= @test_case.environment %>
  </p>
  <p>
    <%= form.label :scenario %>
    <%= form.text_area :scenario, readonly: true, id: "scenario",
        cols: 60, rows: [[10, @test_case.scenario.to_s.length / 50].max, 20].min,
        value: @test_case.scenario %>
  </p>
  <p>
    <%= form.label :expected %>
    <%= form.text_area :expected, readonly: true, id: "expected",
        cols: 60, rows: [[10, @test_case.expected.to_s.length / 50].max, 20].min,
        value: @test_case.expected %>
  </p>
  <p>
    <%= form.label :result %>
    <% if action_name == "edit" %>
      <%= form.select :result, { l(:label_succeed) => true,l(:label_failure) => false }%>
    <% else %>
      <%= form.select :result, { l(:label_succeed) => true,l(:label_failure) => false }, selected: l(:label_succeed) %>
    <% end %>
  </p>
  <p>
    <%= form.label :user %>
    <% if @test_case_execution and @test_case_execution.user %>
      <%= form.select :user, @user_candidates, selected: @test_case_execution.user.id %>
    <% else %>
      <%= form.select :user, @user_candidates %>
    <% end %>
  </p>
  <p>
    <%= form.label :execution_date %>
    <%= form.date_field :execution_date,
        value: (@test_case_execution.execution_date ? @test_case_execution.execution_date.strftime("%F") : Time.now.strftime("%F")), required: true %>
  </p>
  <p>
    <%= form.label :issue %>
    <%= form.text_field :issue_id, id: 'issue_id' %>
    <%= link_to l(:label_issue_new),
                @issue_template_uri,
                :target => "_blank",
                :class => "icon icon-add new-issue" %>
  </p>
  <p>
    <%= form.label :comment %>
    <%= form.text_area :comment,
        cols: 60, rows: [[10, @test_case.expected.to_s.length / 50].max, 20].min %>
  </p>
</div>

<div class="box">
  <p>
    <%= form.label l :label_attachment_plural %>
    <%= render partial: 'attachments/form' %>
  </p>
</div>

<%= javascript_tag "observeAutocompleteField('issue_id', '#{escape_javascript auto_complete_issues_path(project_id: @project, issue_id: @test_case_execution.issue_id)}')" %>
