<div class="contextual">
  <% if @test_plan_given and @test_case_given %>
    <%= link_to l(:label_test_case_execution_new),
                new_project_test_plan_test_case_test_case_execution_path,
                :class => "icon icon-add new-issue" %>
  <% end %>
  <%= actions_dropdown do %>
    <% if User.current.allowed_to?(:add_test_case_executions, @project, :global => true) %>
      <%= link_to l(:button_import),
                  new_test_case_executions_import_path(:project_id => @project),
                  :class => "icon icon-import" %>
    <% end %>
  <% end %>
</div>

<h2 class="inline-flex"><%= breadcrumb %><%=l(:label_test_case_executions)%></h2>

<%= form_tag((@test_plan_given and @test_case_given) ? project_test_plan_test_case_test_case_executions_path :
              @test_case_given ? project_test_case_test_case_executions_path :
              @test_plan_given ? project_test_plan_test_case_executions_path :
              project_test_case_executions_path,
             :method => :get, :id => 'query_form') do %>
  <%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @test_case_executions.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => 'test_case_executions/list', :locals => {:test_case_executions => @test_case_executions, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @test_case_execution_pages, @test_case_execution_count %></span>
  <% end %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
<% end %>

<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag(@csv_url, :method => :get, :id => 'csv-export-form') do %>
  <%= query_as_hidden_field_tags(@query) %>
  <%= export_csv_encoding_select_tag %>
  <% if @test_case_execution_count > @test_case_executions_export_limit %>
  <p class="icon icon-warning">
    <%= l(:settings_test_case_executions_export_limit) %>: <%= @test_case_executions_export_limit %>
  </p>
  <% end %>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);", :data => { :disable_with => false } %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'test_case_executions/sidebar' %>
<% end %>
