<h2 class="inline-flex"><%= breadcrumb %><%= l(:label_test_case_execution_new) %></h2>

<%= form_with model: @test_case_execution, url: project_test_plan_test_case_test_case_executions_path do |f| %>
  <%= render partial: 'test_case_executions/form', locals: {form: f} %>
  <%= f.submit l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_case_executions/sidebar' %>
<% end %>
