<div class="contextual">
<%= link_to l(:button_list), project_test_plans_path,
            :class => 'icon icon-list', :accesskey => accesskey(:list) %>
<%= link_to l(:button_edit), edit_project_test_plan_path,
            :onclick => 'showAndScrollTo("update", "issue_notes"); return false;',
            :class => 'icon icon-edit', :accesskey => accesskey(:edit) if @test_plan.editable? %>
<%= link_to l(:button_delete), project_test_plan_path,
            :data => {:confirm => test_plan_destroy_confirmation_message(@test_plan)},
            :method => :delete, :class => 'icon icon-del' if @test_plan.deletable? %>
</div>
