<h2 class="inline-flex"><%= breadcrumb %><%= l(:label_test_plan_new) %></h2>

<%= form_with model: @test_plan, url: project_test_plans_path do |f| %>
  <%= render partial: 'test_plans/form', locals: {form: f} %>
  <%= f.submit l(:button_create) %>
  <%= f.submit l(:button_create_and_continue), name: 'continue' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_plans/sidebar' %>
<% end %>
